{% extends "testing.html" %}

             
{% block content2%}               
                    <h3 class="text-xl mb-2" font-family = "poppins"> Complete Your Virtual Persona...</h3>
                    <p></p>

            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                        
                    <form action="" method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}    
                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4"> 
                        

                         <div class="image-container mx-auto mb-3" style="width: 150px; height: 150px; overflow: hidden; position: relative;  ">
                         <img  src="{{user_prof.profileimg.url}}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                         <div class="overlay" style = "position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
                         <button type ="button" class="text-white" for="fileInput" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;" >
                            <label for="fileInput" class="text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; cursor: pointer;">

                            Upload a Pic
                        </label>

                        </button>
                            <input type="file" name = "image" id="fileInput" style="display:none;">
                         </div>
                         

                        </div>

                         <div >
                            <div class ="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">User</span>
                            <input type="text" name="username" value="{{user_prof.user.username}}"  class="form-control  shadow-none " disabled readonly >
                            </div>
                            <div class ="input-group ">
                        <span class="input-group-text" id="basic-addon1">Email</span>                            
                        <input type="text" name="email" value="{{user_prof.user.email}}" class="form-control  shadow-none " disabled readonly >
                            </div>
                        <a href="" style="text-decoration: none; color: #be185d;"><small>Would you like to change authentication settings?</small></a>
                         </div> 
                        <div>
                            <label class="form-label"> What is your name?
                            </label>
                            <div class="form-floating">

                                <input type="text" name="firstname" value="{{user_prof.firstName}}" class="form-control location shadow-none" >
                    
                                <label for="" class="form-label"> First Name</label>

                            </div>
                        </div>
                        <div>
                            <label class="form-label"> What is your surname?
                            </label>
                            <div class="form-floating" >

                              
                                <input type="text" name="lastname" value="{{user_prof.lastName}}" class="form-control location shadow-none">
                             
            
                                <label for="" class="form-label"> Last Name</label>

                            </div>
                        </div>
                            <div >
                                <label for="" class="form-label"> When were you born?</label>
                                <input class="form-control location" type="text" name="birthdate" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{user_prof.birthDate}}">

                            </div>

                            <div >
                                <label for="" class="form-label"> What is your gender?</label>
                                <select class= "form-select" name="gender" id="gender" placeholder = "{{user_prof.gender}}">
                                    <option selected>Choose...</option>
                                    <option value="Female"> Female</option>
                                    <option value="Male"> Male</option>
                                </select>                            
                            </div>
                            <div>
                            <label for="" class="form-label"> Where are you from?</label>

                            <div class=" form-floating "> 
                                <input class="form-control location shadow-none" type="text" name="location" value="{{user_prof.location}}">
                                <label for="" class="form-label"> Location</label>
                            </div>
                            </div>

                            <div>
                            <label class="form-label"> Your phone number?</label>

                            <div class=" form-floating ">
                
                                    <input class="form-control location shadow-none" type="text" name="phoneNumber" value="{{user_prof.phoneNumber}}" >
                                    <label class="form-label" > Phone Number</label>
                                   
                            </div>
                        </div>
                            <div class="col-span-2 mb-3">
                                <label for="about" class="form-label"> Tell us your story:</label>  
                                <textarea class="form-control location shadow-non" id="about" name="bio" rows="3" > {{ user_prof.bio }} </textarea>
                            </div>

                       </div> 
    
                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button class="btn btn-secondary"><a href="/" style="text-decoration: none; color: white;"> Cancel </a></button>
                           <button type="submit" class="button bg-blue-700"> Save </button>
                       </div>
                    </form>
  

            </div>
            
{%endblock%}
    

 
